<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the movie database!</h1>

    <h2>You can use this database to browse movies by genre</h2>

    <p>To use the database, choose one of the following searchable genres, and type it into the input field below:</p>

    <h3>Genres:</h3>

    <ul>
      <li>Action</li>
      <li>Adventure</li>
      <li>Animation</li>
      <li>Biography</li>
      <li>Comedy</li>
      <li>Crime</li>
      <li>Drama</li>
      <li>Family</li>
      <li>Fantasy</li>
      <li>Horror</li>
      <li>Mystery</li>
      <li>Romance</li>
      <li>Sci-Fi</li>
      <li>Thriller</li>
      <li>War</li>
      <li>Western</li>
    </ul>



<form action="/movie_results" method="POST">

    Enter a genre here: <input type="text" name="genre"/> <br/>


    <input type="submit" value="submit"/>

</form>

  </body>
</html>
